<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap')
    link(rel='stylesheet', href='/assets/dist/styles.css')
    title Warta Covid19 | by @gaspadat
  body(class="flex flex-col items-center bg-shark font-body")
    nav(class="flex w-full px-6 py-2")
      a(href="/" class="text-lg font-medium text-zircon") Warta Covid19
    block main
